@use '../abstracts' as abs;

@use "sass:color";
.btn--dark-gray {
  background: abs.$dark-grey;
  color: abs.$white;
  border: 1px solid abs.$dark-grey;
  &:hover {
    background: color.adjust(abs.$dark-grey, $lightness: -5%);
    color: abs.$white;
  }
}

.btn--new-search {
  position: absolute;
}

.search__submit-btn {
  @include abs.md-up {
    .material-icon {
      font-size: 24px;
    }
  }
}

.btn--filter {
  padding: 12px 16px;
  font-size: 14px;
  text-transform: none;
  letter-spacing: unset;
  & .material-icon {
    font-size: 18px;
  }
}

@mixin records-btn {
  z-index: 998;
  &.saved {
    @extend .btn--dark-gray;
  }
}

@mixin btn--content {
  @include records-btn;
  @include abs.md-up {
    position: relative;
  }
}

.btn-add--content {
  @include btn--content;
}

.btn-launch--content {
  @include btn--content;
}

@mixin records-detail-btn {
  @include records-btn;
  width: 100%;
  justify-content: center;
  @include abs.md-up {
    width: unset;
  }
}

.btn--detail {
  @include records-detail-btn;
  justify-content: center;
  @include abs.md-up {
    width: unset;
  }
}

.btn--minimap-info {
  float: right;
  border: none;
}

.btn--agent-identifier {
  font-weight: abs.$font-weight-bold;
  width: 100%;
  white-space: normal;
}
