@import "../styles";
@import "./buttons";

.toggle-wrapper--mobile {
  background-color: $desert-grey;
  display: flex;
  flex-direction: column;

  @include lg-up {
    display: none;
  }
}

.toggle-wrapper {
  width: 100%;
  @include lg-up {
    display: none;
  }
}

.toggle-context {
  border-radius: 0 !important;
  width: 100%;
  justify-content: center;

  &:focus {
    @include focus-inset;
  }
}

.toggle-context--active {
  opacity: 0;
  @include md-up {
    opacity: 1;
    background: $desert-grey;
    color: $night-grey;
    &:hover, &:focus {
      background: $wan-white-grey;
      color: $night-grey;
    }
  }
}
