@use '../abstracts' as abs;

@use "buttons";

.toggle-wrapper--mobile {
  background-color: abs.$desert-grey;
  display: flex;
  flex-direction: column;

  @include abs.lg-up {
    display: none;
  }
}

.toggle-wrapper {
  width: 100%;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  @include abs.lg-up {
    display: none;
  }
}

.toggle-context {
  border-radius: 0 !important;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;

  &:focus {
    @include abs.focus-inset;
  }
}

.toggle-context--active {
  opacity: 0;
  @include abs.md-up {
    opacity: 1;
    background: abs.$desert-grey;
    color: abs.$night-grey;
    &:hover, &:focus {
      background: abs.$wan-white-grey;
      color: abs.$night-grey;
    }
  }
}
