@import "../variables/vars";

.btn--minimap {
  background: $desert-grey;
  white-space: wrap;
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 999;
}

.btn--minimap__text {
  width: 60px;
  text-align: left;
}

.btn--minimap__icon {
  height: 30px;
  width: 30px;
}
