@import "../variables/vars";

.btn--minimap {
  background: $desert-grey;
  margin: 10px 30px 10px auto;
  white-space: wrap;
}

.btn--minimap__text {
  width: 60px;
  text-align: left;
}

.btn--minimap__icon {
  height: 30px;
  width: 30px;
}
