@use '../abstracts' as abs;

@use "saved-item";

.modal-saved-items__item-group {
  border-top: 1px dotted abs.$regal-blue;
  &:first-of-type {
    margin-top: 22px;
  }
}

.modal-item-group__items {
  font-weight: abs.$font-weight-bold;
  color: abs.$night-grey;
}

.modal-item-group__items label {
  font-size: 15px;
}

.modal-item-group__title {
  @extend .item-group__title;
  font-size: 15px;
}

.modal-saved-item {
   line-height: 16px;
}
