@use '../abstracts' as abs;

.modal--facet {
  bottom: auto;
  top: 0;
  left: 0;
  right: unset;
  max-width: 420px;
  height: 100vh;
  border-radius: 0px;
  background-color: abs.$solitude-blue;
  @include abs.md-up {
    width: 420px;
  }
}

.modal__header--search {
  color: abs.$regal-blue;
  background-color: abs.$solitude-blue;
}
