@import "../styles";

$minimap-modal-content-margin: 8px;
$minimap-modal-content-margin-md: 40px;

.modal--minimap-panel {
  top: $minimap-modal-content-margin;
  left: $minimap-modal-content-margin;
  right: $minimap-modal-content-margin;
  bottom: $minimap-modal-content-margin;
  @include md-up {
    top: $minimap-modal-content-margin-md;
    left: $minimap-modal-content-margin-md;
    right: $minimap-modal-content-margin-md;
    bottom: $minimap-modal-content-margin-md;
  }
}

.modal--minimap-info {
  top: 10px;
  right: 20px;
  left: 20px;
  bottom: unset;
  max-height: calc(100% - 20px);
  @include md-up {
    top: 80px;
    right: 25%;
    left: 25%;
    max-height: calc(100% - 90px);
  }
  @include lg-up {
    top: 80px;
    left: 10%;
    right: calc(63% + 20px);
  }
}

.modal__header--minimap {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  line-height: 1.15;
}

.modal__header-title--minimap {
  color: inherit;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.modal__body--minimap {
  font-size: 13px;
  height: calc(100% - 23px);
  line-height: 1.15;
}
