@use '../abstracts' as abs;

.mylist main {
  grid-column: span 12;
  margin-right: 15px;
  @include abs.lg-up {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.mylist main > *:not(.mylist__sidebar) {
  @include abs.lg-up {
    grid-column: 1 / span 8;
  }
}

.mylist__export-actions {
  @include abs.show-on-lg-up;
  @include abs.lg-up {
    display: block;
  }
}

.mylist__export-actions .btn {
  margin-right: 10px;
}

.mylist__sidebar {
  align-content: start;
  background: abs.$desert-grey;
  gap: 12px;
  grid-column: 9 / span 4;
  grid-row: 1 / span 3;
  justify-items: start;
  @include abs.show-on-lg-up;
  @include abs.lg-up {
    margin-top: -60px;
  }
}
