@use '../abstracts' as abs;

.query-highlight {
  background-color: abs.$peach-orange;
}

.query-highlight::before,
.query-highlight::after {
  @include abs.visually-hidden;
}

.query-highlight::before {
  content: " [highlight start] ";
}

.query-highlight::after {
  content: " [highlight end] ";
}
